* {
	box-sizing: border-box;
}
body {
	background-color: #f3f5fc;
	font-family: "Inter", "Franklin Gothic Medium", Arial, sans-serif;
	color: #0a3871;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
header {
	margin: 10px 10px;
}
main {
	overflow: hidden;
}
/* Pagina 1-------------- */
.page1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	margin: 100px auto;
	display: show;
}
button {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	border-radius: 24px;
	cursor: pointer;
	color: white;
}
.inicia {
	background-color: #0a3871;
	width: 317px;
	height: 114px;
	margin-top: 44%;
}
.inicia:hover {
	background-color: #0e4f9e;
}
.inicia:active {
	background-color: #041a36;
}
.agrega {
	color: #0a3871;
	background-color: hsl(213, 84%, 24%, 0);
	margin-top: 38px;
	width: 280px;
	height: 67px;
	border-style: solid;
}
.agrega:hover {
	background-color: #e5eaff;
}
.agrega:active {
	background-color: #7c7d81;
}

/* Page 2 INGRESANDO PALABRA */
.page2 {
	width: 688px;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	display: show;
}
.buttons-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-around;
	margin-top: 30%;
}
.important {
	width: 100%;
}
.importante {
	font-size: 12px;
	line-height: 18px;
	color: #495057;
}

.ingresa-palabra {
	color: hsl(213, 84%, 24%, 1);
	font-size: 32px;
	line-height: 48px;
	margin-top: 0;
	border: none;
	outline: none;
	background-color: #f3f5fc;
	text-transform: uppercase;
}
.ingresa-palabra::placeholder {
	color: hsl(213, 84%, 24%, 1);
	opacity: 1;
}
.page2 button {
	width: 332px;
	height: 67px;
}
.save-start {
	background-color: #0a3871;
	color: white;
	border: none;
}
.save-start:hover {
	background-color: #0e4f9e;
}
.save-start:active {
	background-color: #041a36;
}
.cancel-input {
	background-color: #f3f5fc;
	color: #0a3871;
	border: 2px solid #0a3871;
}
.cancel-input:hover {
	background-color: #e5eaff;
}
.cancel-input:active {
	background-color: #7c7d81;
	color: #3b5577;
}

/* Page 3 ------------- */
.page3 {
	display: flex;
	width: 688px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	display: show;
}
.figura-div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex: 1;
}
.mensaje-ganador {
	color: rgb(132, 203, 26);
	margin: auto;
	width: 20%;
	flex: 0.3;
	display: hidden;
}
.fin-game {
	display: hidden;
}
.stick-image {
	text-align: right;
	margin: 0 auto;
}
.letras-correctas {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	letter-spacing: 0em;
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}
.center {
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	letter-spacing: 0;
	font-family: "Courier New", Courier, monospace;
}
.space {
	width: 100%;
	color: #f3f5fc;
}
.num0 {
	width: 100%;
	text-align: center;
	border-bottom: 5px solid #0a3871;
}
.num1 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}
.num2 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}
.num3 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}
.num4 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}
.num5 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}
.num6 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}
.num7 {
	width: 100%;
	border-bottom: 5px solid #0a3871;
}

.letras-incorrectas {
	display: flex;
	width: 50%;
	color: #7c7d81;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}
.page3 button {
	width: 332px;
	height: 67px;
}
.juego-nuevo {
	background-color: #0a3871;
	color: white;
	border: none;
}
.juego-nuevo:hover {
	background-color: #0e4f9e;
}
.juego-nuevo:active {
	background-color: #041a36;
}
.desistir {
	background-color: #f3f5fc;
	color: #0a3871;
	border: 2px solid #0a3871;
}
.desistir:hover {
	background-color: #e5eaff;
}
.desistir:active {
	background-color: #7c7d81;
	color: #3b5577;
}
footer {
	background-color: #0a3871;
	width: 100%;
	height: 120px;
	margin: 3% auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}

.caja2 {
	width: 30%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.linked-gif {
	width: 32px;
	/* flex: 1; */
}
.github-gif {
	/* flex: 1; */
}
@media screen and (max-width: 550px) {
	.page2 {
		width: 100%;
	}
	.page3 {
		width: 100%;
	}
	.stick-image {
		max-height: 150px;
	}
}
