* {
	box-sizing: border-box;
}
body {
	background-color: #f3f5fc;
	font-family: "Inter", "Franklin Gothic Medium", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
header {
	margin: 10px 10px;
}
.inicio {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 250px;
	margin: 100px auto;
}
button {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	border-radius: 24px;
	cursor: pointer;
	color: white;
}
.inicia {
	background-color: #0a3871;
	width: 317px;
	height: 114px;
	margin-top: 44%;
}
.inicia:hover {
	background-color: #0e4f9e;
}
.inicia:active {
	background-color: #041a36;
}
.agrega {
	color: #0a3871;
	background-color: hsl(213, 84%, 24%, 0);
	margin-top: 38px;
	width: 280px;
	height: 67px;
	border-style: solid;
}
.agrega:hover {
	background-color: #e5eaff;
}
.agrega:active {
	background-color: #7c7d81;
}

/* INGRESANDO PALABRA */
.page2 {
	width: 688px;
	margin: 100px auto;
}
.page2 p {
	color: #0a3871;
	font-size: 32px;
	margin: 0;
}
